body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

button {
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
}

input {
    width: 300px;
    height: 20px;
    display: block;
}