body {
    margin: 40px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 16px;
}

#left {
    width: 100%;
    background: #ddd;
    padding: 10px 0 10px 0;
}

#right {
    width: 100%;
    background: #eea;
    padding: 10px 0 10px 0;
}

h1 {
    font-size: 32px;
}

.content {
    width: 100%;
    height: 100%;
    margin: 20px;
}

table {
    border: none;
}

td, th {
    text-align: left;
    padding: 5px 10px 5px 0;
}

#right td {
    font-family: Consolas, "Courier New", monospace;
    text-align: right;
}

input {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: Consolas, "Courier New", monospace;
    background: #fff;
    border: 2px solid #333;
    text-align: right;
}

input:focus {
    border: 2px solid #55d;
    outline: none;
}

button {
    margin-top: 10px;
    width: 120px;
    height: 40px;
    font-size: 16px;
    background: #fff;
    border: 2px solid #333;
}

button:active {
    background: #ccc;
    color: #333;
    outline: none;
}

button:focus {
    outline: none;
}