body {
    margin: 40px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    font-size: 18px;
}

#step_two {
    display: none;
}

h1 {
    color: #000;
    font-size: 30px;
}

a {
    color: #00f;
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: #00f;
}

iframe {
    display: block;
    margin-top: 18px;
    width: 760px;
    height: 500px;
    border: 2px solid #444;
}

.desc {
    font-style: italic;
    font-size: 14px;
}

input {
    width: 300px;
    height: 20px;
    font-size: 16px;
    border: 2px solid #888;
}

#submit_button {
    display: none;
}

button {
    display: block;
    margin-top: 18px;
    padding: 18px;
    font-size: 18px;
    font-weight: 700;
}